google-cloud-storage
langchain~=0.3.9
langchain-community~=0.3.9
unstructured
langchain-google-genai~=2.0.6
crewai~=0.85.0
crewai-tools
youtube-transcript-api
#/content/cv.md
sec-api
html2text
yfinance~=0.2.50
pydantic~=2.9.2
python-dotenv~=1.0.1
pandas~=2.2.3
protobuf~=5.29.1
selenium~=4.27.1
nltk~=3.9.1
streamlit~=1.40.2
altair~=5.5.0
instructor~=1.7.0
requests~=2.32.3
numpy~=1.26.4
sktime~=0.34.1
scikit-learn~=1.5.2
statsmodels~=0.14.4
requests-oauthlib~=2.0.0
beautifulsoup4~=4.12.3
openai~=1.56.2
langchain-core~=0.3.21
embedchain~=0.1.125
plotly~=5.24.1
streamlit_dynamic_filters~=0.1.9
PyYAML~=6.0.2
streamlit-authenticator
