google-cloud-storage
langchain
langchain-communit
unstructured
langchain-google-genai
crewai
crewai-tools
youtube-transcript-api
#/content/cv.md
html2text
yfinance
pydantic
python-dotenv
pandas
protobuf
streamlit
altair
instructor
requests
numpy
sktime
scikit-learn
statsmodels~=0.14.4
requests-oauthlib~=2.0.0
beautifulsoup4~=4.12.3
openai~=1.56.2
langchain-core~=0.3.21
plotly~=5.24.1
streamlit_dynamic_filters~=0.1.9
PyYAML~=6.0.2